<h4>
    <span class="text-primary text-uppercase">curso:</span>
    <span class="text-uppercase"><%= detalle.curso %></span>
</h4>
<h4>
    <span class="text-primary text-uppercase">tipo de pago:</span>
    <span class="text-uppercase"><%= detalle.nivel %></span>
</h4>
<h4>
    <span class="text-primary text-uppercase">Niveles a llevar:</span>
    <span class="text-uppercase"><%= detalle.pago %></span>
</h4>

<h4 class="text-primary">
    <span class="text-uppercase">Total a Pagar:</span>
    <span><%= pago %></span>
</h4>
